* {
  box-sizing: border-box;
}

body {
  background-image: url(../image/background_image_by_upklyak_on_Freepik.jpg);
  background-size: cover;
  border: 1px solid purple;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flex {
  display: flex;
}

.box {
  /* flex-grow: 0; */
  /* display: flex; */
  /* align-items: center; */
  border: 1px solid pink;
}

.left,
.right {
  width: 450px;
}

.center {
  width: 636px;
}

#top {
  height: 115px;
  margin-top: 15px;
}

#middle {
  height: 420px;
}

#bottom {
  height: 100px;
}

.footer {
  height: 52px;
}

/* #bottom-center {
  display: flex;
} */

#start-btn {
  background-color: darkgrey;
  border-radius: 3px;
  cursor: pointer;
  /* position: absolute; */
  width: 100px;
  height: 40px;
}

#start-btn:hover {
  background-color: green;
  transition: 0.7s;
}

/* #top-center {
  position: relative;
} */

#timer {
  border: 1px solid white;
  width: 120px;
  height: 100px;
  font-size: 4.5em;
  color: white;
  padding: 5px;
  display: inline-block;
}

.score-board {
  height: 100px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding: 5px;
  font-size: 60px;
  align-self: center;
}

#mid-center {
  display: flex;
  position: relative;
}

#health-bar-main-container {
  position: relative;
  display: inline-block;
  width: 636px;
}

#health-bar-container {
  position: absolute;
  width: 100%;
  align-items: center;
  top: 20px;
}

/* .health-bar {
  background-color: yellow;
  width: 100%;
  height: 30px;
}

#red-indicator {
  background-color: red;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
} */

/* #myProgress {
  width: 100%;
  background-color: grey;
} */

/* #myBar {
  height: 30px;
  background-color: green;
} */

#hpProgress {
  border-radius: 1px;
  height: 30px;
  width: 100%;
  /* color: #0b2245; */
  /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0); */
}

progress::-webkit-progress-bar {
  background-color: slateblue;
  border-radius: 5px;
  /* width: 636px;
  height: 30px; */
}
progress::-webkit-progress-value {
  background-color: darkgoldenrod;
  /* border-right: 3px solid red; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* box-shadow: 1px 1px 5px 3px #0b2245; */
}

#players-container {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 636px;
  height: 350px;
  bottom: 0;
}

#player1 {
  width: 80px;
  height: 150px;
  background-color: darkgoldenrod;
  position: absolute;
  margin-top: 140px;
  margin-left: 60px;
}

#player2 {
  width: 80px;
  height: 150px;
  background-color: slateblue;
  position: absolute;
  margin-top: 120px;
  margin-left: 510px;
}

#rope {
  width: 400px;
  height: 5px;
  background-color: sienna;
  border: 1px solid saddlebrown;
  position: absolute;
  margin-top: 220px;
  margin-left: 140px;
  transform: skew(0.06turn, -4deg);
}

.arrow-container {
  display: flex;
  height: 100px;
  gap: 25px;
}

/* .arrow {
  position: inline-block;
} */

.p1-arrow {
  align-items: flex-start;
}

.p2-arrow {
  align-items: flex-end;
}

#left,
#left-p2 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 40px solid lightgrey;
  border-bottom: 25px solid transparent;
}

/* #left::after {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 40px solid black;
  border-bottom: 25px solid transparent;
} */

#up,
#up-p2 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid lightgrey;
}

/* #up::after {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid black;
} */

#down,
#down-p2 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid lightgrey;
}

/* #down::after {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid black;
} */

#right,
#right-p2 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 40px solid lightgrey;
  border-bottom: 25px solid transparent;
}

/* #right::after {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 40px solid black;
  border-bottom: 25px solid transparent;
} */

.footer {
  background-color: rgba(255, 255, 255, 0.25);
}

p {
  font-size: smaller;
  text-align: center;
}
