body {
  background-image: url(../image/background_image_by_upklyak_on_Freepik.jpg);
  background-size: cover;
  border: 1px solid purple;
  text-align: center;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

#top {
  height: 100px;
  margin-top: 15px;
}

#top-center {
  height: 50px;
}

#middle {
  height: 420px;
}

#stage {
  width: 360px;
}

#bottom {
  height: 100px;
}

.box {
  flex-grow: 1;
  align-items: center;
  border: 1px solid pink;
}

.footer {
  height: 50px;
}

#start-btn {
  background-color: darkgrey;
  border-radius: 3px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: green;
  transition: 0.7s;
}

.score-board {
  height: 65px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding: 5px;
  font-size: 55px;
  align-self: center;
}

.arrow-container {
  display: flex;
  gap: 25px;
}

/* .arrow {
  position: inline-block;
} */

.p1-arrow {
  align-items: flex-start;
}

.p2-arrow {
  align-items: flex-end;
}

#left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 40px solid lightgrey;
  border-bottom: 25px solid transparent;
}

/* #left::after {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 40px solid black;
  border-bottom: 25px solid transparent;
} */

#up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid lightgrey;
}

/* #up::after {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid black;
} */

#down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid lightgrey;
}

/* #down::after {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid black;
} */

#right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 40px solid lightgrey;
  border-bottom: 25px solid transparent;
}

/* #right::after {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 40px solid black;
  border-bottom: 25px solid transparent;
} */

.footer {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}
